.o-logo {
  display: inline-block;

  width: em(220);
  height: em(220);

  overflow: hidden;
}

.o-thumb {
  margin-bottom: em($unit--s);

  @include media($desktop) {
    margin-bottom: em($ratio--m);
  }
}

.o-thumb__link {
  display: block;
  position: relative;

  text-decoration: none;

  overflow: hidden;

  .o-thumb--tall & {
    width: em(300);
    height: em(463);
  }

  .o-thumb--wide & {
    width: em(463);
    height: em(300);
  }
}

.o-thumb__overlay {
  @include position(absolute, 0 0 0 0);

  z-index: $index--xs;

  color: white;
  background-color: $color2--300;
  background-repeat: no-repeat;
  background-position: center;

  @include pseudo-center--parent;
  text-align: center;

  display: none;

  .o-thumb__link:hover & {
    display: block;
  }
}

.o-thumb__title,
.o-thumb__author {
  visibility: hidden;
}

.o-sizer--column {
  @include media($desktop) {
    width: em(163);
  }
}

.o-sizer--gutter {
  width: em(0);
}

.o-gallery {
  height: 100%;
}

.o-gallery__item {
  width: 100%;
  height: 100%;

  text-align: center;

  white-space: nowrap;

  @include pseudo-center--parent;
}

.o-gallery__image {
  display: inline-block;
  vertical-align: middle;

  max-width: 50%;
  max-height: 100%;
}

.o-gallery__content {
  display: inline-block;
  vertical-align: middle;

  max-width: em(600);

  white-space: normal;
}

.o-boy {
  background-position: center;

  margin-bottom: em(26);

  @include media($small) {
    display: none;
  }
}

.o-boy--square {
  width: em(300);
  height: em(300);
}

.o-modal {
  @include position(fixed, 0 0 0 0);
  background-color: white;

  z-index: $index--l;
}

.o-affiliate {
  display: inline-block;

  @include state--active {
    opacity: .6;
  }
}
.o-affiliate--cd {
  width: em(168);
}

.o-detail {
  .featherlight & {
    height: 100%;
  }
}

.o-detail__name {
  width: em(275);
  height: em(123);

  overflow: hidden;

  @include margin(null auto);
}

.o-detail__ir {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.o-detail__title,
.o-detail__author {
  visibility: hidden;
}
.o-detail__description {
  color: $grey--600;
}

.o-release {
  margin-bottom: em($ratio--m);

  color: $grey--300;
}

.o-release__text {
  color: $grey--600;
}

.o-release__title {
  color: $grey--800;
}

.o-download {
  & + & {
    margin-left: em($ratio--b);
  }
}
