.o-logo {
  display: inline-block;

  width: em(250);
  height: em(250);

  overflow: hidden;

  @include media($phone) {
    margin-top: em($ratio--m);
  }
}

.o-thumb {
  margin-bottom: em($unit--s);

  @include media($large) {
    margin-bottom: em($ratio--m);
  }
}

@include media($tablet) {
  .o-thumb--tall {
    width: em(270);
  }
  .o-thumb--wide {
    width: em(418);
  }
}
@include media($desktop) {
  .o-thumb--tall {
    width: em(306);
  }
  .o-thumb--wide {
    width: em(472);
  }
}

.o-thumb__link {
  display: block;
  position: relative;

  text-decoration: none;
}

.o-thumb__overlay {
  @include position(absolute, 0 0 0 0);

  z-index: $index--xs;

  color: white;
  background-color: $color2--300;
  background-repeat: no-repeat;
  background-position: center;

  @include pseudo-center--parent;
  text-align: center;

  display: none;

  .o-thumb__link:hover & {
    display: block;
  }
}

.o-thumb__title,
.o-thumb__author {
  visibility: hidden;
}

.o-sizer--column {

  @include media($tablet) {
    width: em(122);
  }
  @include media($desktop) {
    width: em(140);
  }
}

.o-sizer--gutter {
  @include media($large) {
    width: em($ratio--m);
  }
}

.o-gallery {
  height: 100%;
}

.o-gallery__item {
  width: 100%;
  height: 100%;

  text-align: center;

  white-space: nowrap;

  @include pseudo-center--parent;

  padding: em($ratio--b);
}

.o-gallery__image {
  display: inline-block;
  vertical-align: middle;

  
  @include media($large) {
    max-width: 50%;
  }
  max-height: 100%;
}

.o-gallery__content {
  display: inline-block;
  vertical-align: middle;

  max-width: em(600);

  white-space: normal;
}

.o-boy {
  display: none;

  background-position: center;
  background-repeat: no-repeat;

  margin-bottom: em($ratio--m);

  @include media($widescreen) {
    display: block;
  }
}

.o-boy--square {
  width: em(306);
  height: em(300);
}

.o-boy--wide {
  width: em(472);
  height: em(300);
}

.o-affiliate {
  display: inline-block;

  @include state--active {
    opacity: .6;
  }
}
.o-affiliate--cd {
  width: em(168);
}

.o-detail {
  .featherlight & {
    height: 100%;
  }
}

.o-detail__name {
  width: em(275);
  height: em(123);

  overflow: hidden;

  @include margin(null auto);

  @include media($large) {
    margin-bottom: em($ratio--l);
  }
}

.o-detail__ir {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.o-detail__title,
.o-detail__author {
  visibility: hidden;
}
.o-detail__description {
  color: $color1--500;

  @include margin(null em($ratio--b));
}

.o-picture {
  margin-bottom: em($ratio--m);

  @include media($small) {
    max-width: em(300);

    @include margin(null auto);
  }

  @include media($large) {
    margin-bottom: em($ratio--l);
  }
}

.o-picture__frame {
  @include media($large) {
    position: relative;

    margin-bottom: em($ratio--m);

    padding-bottom: 100%;
  }
}

.o-picture__image {
  @include media($large) {
    @include position(absolute, 0 0 0 0);

    margin: auto;

    max-height: 100%;

    .o-picture--tall & {
      max-width: 80%;
    }
  }
}

.o-release {
  margin-bottom: em($ratio--m);

  @include media($large) {
    margin-bottom: em($ratio--l);
  }

  color: $color1--500;
}

.o-release__text {

  display: inline;
}

.o-release__title {
  color: $grey--800;

  display: inline;
}

.o-release__content {
  @include margin(em($ratio--b) null);
}

.o-release__lang {
  display: inline-block;

  background-color: transparent;

  color: $grey--800;

  font-weight: $font__sans--bold;
  text-transform: uppercase;
  letter-spacing: em($ratio--t);

  margin-right: em($ratio--xxs);
}

.o-release__date {
  display: inline-block;

  margin-right: em($ratio--xs);

  font-weight: $font__sans--black;
}

.o-download {
  margin-top: em($ratio--b);

  font-size: em($unit--xs);

  color: $grey--200;
}

.o-download__link {
  & + & {
    margin-left: em($ratio--b);
  }
}

.o-end {
  position: relative;

  display: inline-block;
  width: 100%;

  clear: both;

  z-index: -1;

  @include media($desktop) {
    margin-top: em(-$ratio--xl);
  }
}
.o-end__image {
  @include margin(null auto);
}

.o-asset {
  text-align: center;

  @include media($small) {
    & + & {
      margin-top: em($unit--l);
    }
  }

  @include media($tablet) {
    @include span-columns($columns__tablet / 3 of $columns__tablet);
  }
}

.o-asset__link {
  display: block;
}

.o-asset__image {
  max-width: 60%;

  @include margin(null auto em($ratio--b));
}

.o-asset__caption {
  text-decoration: none;

  border-bottom: $line--s solid;

  display: inline-block;

  font-size: em($unit--xs);
}
