extends _shared

append template-head
  <!-- site:css -->
  <!-- endinject -->

  <!-- vendor:js -->
  <!-- endinject -->

block template-body
  include /../bower_components/chj-framework/app/assets/jade/mixins/_dummy

block template-content
  p Basic template.

append template-foot
  <!-- site:js -->
  <!-- endinject -->
