/*
Inline

Table-cell display to put things beside.

Markup:
<div class="l-inline {$modifiers}">
  <div class="l-inline__cell">Text.</div>
  <div class="l-inline__cell">Another text.</div>
</div>

Styleguide 2.2.
*/

.l-inline {
  display: table;
  
  width: 100%;
}

.l-inline__cell {
  display: table-cell;
  vertical-align: middle;

  @include collapse-children;
  text-align: center;

  &:first-child {
    text-align: left; 
  }
  &:last-child {
    text-align: right;
  }
}
