extends templates/_site

block template-content
  .o-splash
    .o-splash__content
      .o-logo
        img(src="assets/images/logo.png", alt="PopUpShow Logo")
        h1.t-head--top PopUpShow

      p.o-splash__text
        | Get ready, we&rsquo;re about to launch! In the meantime, visit our 
        a.t-dotted(href="https://www.facebook.com/popupSHOWcz") Facebook page
        | .
