.c-grey--000 {
  color: $grey--000;
}
.c-grey--100 {
  color: $grey--100;
}
.c-grey--200 {
  color: $grey--200;
}
.c-grey--300 {
  color: $grey--300;
}
.c-grey--400 {
  color: $grey--400;
}
.c-grey--500 {
  color: $grey--500;
}
.c-grey--600 {
  color: $grey--600;
}
.c-grey--700 {
  color: $grey--700;
}
.c-grey--800 {
  color: $grey--800;
}
.c-grey--900 {
  color: $grey--900;
}

.c-color1--300 {
  color: $color1--300;
}
.c-color1--500 {
  color: $color1--500;
}
.c-color1--700 {
  color: $color1--700;
}

.c-color2--300 {
  color: $color2--300;
}
.c-color2--500 {
  color: $color2--500;
}
.c-color2--700 {
  color: $color2--700;
}
