$hue-1: 168;
$hue-2: 44;

$neutral-1: $hue-2;
$neutral-2: $neutral-1 + 180;

// Primary colors
$color1--300: hsb($hue-1, 085, 085);
$color1--500: hsb($hue-1, 091, 078);
$color1--700: hsb($hue-1, 095, 055);

$color2--300: hsb($hue-2, 012, 100);
$color2--500: hsb($hue-2, 015, 090);
$color2--700: hsb($hue-2, 020, 080);

// Increments of 9, only B52 missing
$grey--000: hsb($neutral-1, 02, 97);
$grey--100: hsb($neutral-1, 04, 88);
$grey--200: hsb($neutral-1, 06, 79);
$grey--300: hsb($neutral-1, 08, 70);
$grey--400: hsb($neutral-1, 10, 61);
$grey--500: hsb($neutral-2, 12, 43);
$grey--600: hsb($neutral-2, 14, 34);
$grey--700: hsb($neutral-2, 16, 25);
$grey--800: hsb($neutral-2, 18, 16);
$grey--900: hsb($neutral-2, 20, 07);

// Interactive
$c-link:         $color1--500;
$c-visited:      $color1--500;

$c-hover:        $color1--700;
$c-active:       $color1--700;

$c-select__bg:   $color2--300;
$c-select__text: $color2--700;
