/*
Text link

.t-link--white - Translucent on hover.
.t-link--light - Light color.
.t-link--dark - Dark color.

Markup:
<a href="#" class="{$modifiers}">Anchor link</a>
<a href="#" class="{$modifiers} l-section--light">Anchor link</a>
<a href="#" class="{$modifiers} l-section--dark">Anchor link</a>
<a href="#" class="{$modifiers} l-section--black">Anchor link</a>

Styleguide 3.4.
*/

.t-link--white {
  @include state--link {
    color: white;
  }
  @include state--active {
    @include rgba(color, white, .75);
  }
}

.t-link--light {
  @include state--link {
    color: rgba($grey--400, .5);
  }
  @include state--active {
    color: rgba($grey--200, .5);
  }
}

.t-link--dark {
  @include state--link {
    color: $grey--400;
  }
  @include state--active {
    color: $grey--600;
  }
}
