.t-dotted {
  text-decoration: none;

  border-bottom: $line--s solid;
}

.t-head--top {
  @include media($large) {
    font-size: em($unit--h);
  }
}

.t-head--higher {
  font-weight: $font__sans--light;
}

.t-head--bottom {
  text-transform: uppercase;
  letter-spacing: em($ratio--t);

  font-size: em($unit--xs);
  font-weight: $font__sans--regular;
}

.t-entre {
  text-align: center;

  text-transform: uppercase;
  letter-spacing: em($ratio--t);

  font-weight: $font__sans--black;
}

.t-text-link {
  text-decoration: none;

  border-bottom: $line--s solid;

  @include state--link {
    color: inherit;
  }

  @include state--active {
    color: $grey--800;
  }
}
